<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.sanchit.di.Student">
        <constructor-arg name="studentName" value="Sanchit Raina"/>
        <constructor-arg name="id" value="2"/>
    </bean>

    <bean id="kaka" class="com.sanchit.di.Student">
        <constructor-arg name="id" value="1" type="int"/>
    </bean>

</beans>